<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<meta http-equiv="pragma" content="no-cache">
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="expires" content="0">
		<title>{{ page.title }} - Bindiry's Wiki</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link href='http://fonts.googleapis.com/css?family=Ubuntu&v1' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<div id="container">
			<div id="sidebar">
			
				<div id="logo"><a href="/">Bindiry's Wiki</a></div>
				
				<ul>
					<li>Programming Language
						<ul>
							<li><a href="/pages/programming-language/actionscript.html">ActionScript</a></li>
							<li><a href="/pages/programming-language/python.html">Python</a></li>
						</ul>
					</li>
					
					<li>Software
						<ul>
							<li><a href="/pages/software/macos.html">MacOS</a></li>
							<li><a href="/pages/software/windows.html">Windows</a></li>
						</ul>
					</li>
				</ul>
				
				<ul>
					<li>Links
						<ul>
							<li><a href="http://junnan.org/blog">Blog</a></li>
							<li><a href="http://t.qq.com/bindiry">Bindiry@腾讯微博</a></li>
							<li><a href="http://weibo.com/bindiry">Bindiry@新浪微博</a></li>
						</ul>
					</li>
				</ul>
				
				<ul class="misc">
					<li>Powered by <a href="http://pages.github.com/">Github-Pages</a></li>
				</ul>
				
			</div>
			
			<div id="content">
				{{ content }}
			</div>
			
		</div>
				
	</body>
</html>