<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<title>Bindiry's Wiki</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link href='http://fonts.googleapis.com/css?family=Ubuntu&v1' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<div id="container">
			<div id="sidebar">
			
				<div id="logo"><a href="/">Bindiry's Wiki</a></div>
				
				<ul>
					<li>Programming Language
						<ul>
							<li><a href="/pages/programming-language/actionscript.html">ActionScript</a></li>
							<li><a href="/pages/programming-language/python.html">Python</a></li>
							<!--<li><a href="/pages/programming-language/php.html">PHP</a></li>-->
						</ul>
					</li>
					
					<li>Software
						<ul>
							<li><a href="/pages/software/macos.html">MacOS</a></li>
						</ul>
					</li>
				</ul>
				
				<ul>
					<li>Links
						<ul>
							<li><a href="http://junnan.org/blog">Blog</a></li>
						</ul>
					</li>
				</ul>
				
			</div>
			
			<div id="content">
				{{ content }}
			</div>
			
			<div id="footer">
				<p style="clear:both"></p>
			</div>
			
		</div>
				
	</body>
</html>